.regField {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px;
    margin: 10px 0px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.submitBtn {
    width: 100%;
    padding: 15px;
    margin: 10px 0 0 0;
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
}
.submitBtn:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}

.underLine {
    text-align: center;
    margin: 7px 0 0 0;
    display: block;
}

.linkBtn {
    border: 0;
    background-color: unset;
    text-decoration: underline;
    color: white;
    padding: 0;
    margin: 0;
}

.linkBtn:hover {
    color: rgb(98, 98, 98);
    cursor: pointer;
}

.linkBtn:focus,
.submitBtn:focus{
    outline: none;
}